<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>
  
      <a href="https://getbootstrap.com/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://getbootstrap.com/docs/5.2/examples/footers/#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="https://getbootstrap.com/docs/5.2/examples/footers/#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="https://getbootstrap.com/docs/5.2/examples/footers/#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="https://getbootstrap.com/docs/5.2/examples/footers/#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="https://getbootstrap.com/docs/5.2/examples/footers/#" class="nav-link px-2 text-muted">About</a></li>
       
      </ul>
      
      <p class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.105241957481!2d-75.61520318478917!3d6.249861195476105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429789d0599a3%3A0x139d3e32559196f3!2sJard%C3%ADn%20Infantil%20No%202!5e0!3m2!1ses!2sco!4v1667608302795!5m2!1ses!2sco" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
       
      
     
      
    </footer>
  </div>